[Unit]
Description=Perform restic backup

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
{% if restic_env_vars %}
{% for key in restic_env_vars %}
Environment={{ key }}={{ restic_env_vars[key] }}
{% endfor %}
{% endif %}
ExecStart=/usr/bin/restic --repo {{ restic_repo }} --password-file "{{ restic_passwd_file }}" backup --one-file-system "{{ ansible_user_dir }}"
